:root {
    /* Paleta de cores */
    --cor-login-direita: #635EF2;
    --cor-titulo: #414059;
    --cor-input-hover: #2d2d47;

    --cor-padrao: white;
    --cor-msg: #C95068;
    --cor-principal: #333840;
}

.header{
    height: 7vh;
    width: 100%;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: var(--cor-padrao);
}
.header .esquerda{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}
.header .esquerda i{
    cursor: pointer;
}
.header .esquerda i:hover{
    color: var(--cor-msg);
}
.header .direita{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}