.header {
    height: 8vh;
    width: 100%;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: var(--cor-branco);
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    z-index: 10;
}

.header h1 {
    margin-left: 15px;
    font-size: 22px;
    font-weight: 600;
    transition: color 0.3s ease;
}
.header h1 a {
    color: var(--cor-branco);
    text-decoration: none;
}
.header h1:hover {
    color: var(--cor-secundaria);
}

.header .esquerda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .esquerda i {
    cursor: pointer;
    font-size: 22px;
    transition: color 0.3s;
}
.header .esquerda i:hover {
    color: var(--cor-secundaria);
}

.header .direita {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.user-info i {
    font-size: 24px;
    color: var(--cor-secundaria);
}
.user-info span:hover{
    color: var(--cor-secundaria);
}
.logout {
    color: var(--cor-alert);
    font-size: 20px;
    transition: transform 0.2s;
}
.logout:hover {
    transform: scale(1.2);
}
.menu.colapsado {
   display: none;
    overflow: hidden;
}
.menu.colapsado .menu li a span {
    display: none;
}

.modalPerfil{
    background-color: rgba(0, 0, 0, 0.158);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}
.modalconteudo {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-branco);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 880px;
    height: 550px;
}
.modalconteudo .foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}
.blocoform {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    min-width: 250px;
    margin: 5px;
    padding: 0;
}
.blocoform label {
    display: block;
    font-weight: bold;
    color: var(--cor-principal);
    font-size: 18px;
    margin-bottom: 5px;
}
.blocoform input, .blocoform select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid var(--cor-principal);
    border-radius: 4px;
    font-size: 16px;
}
.blocos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}