:root {
    /* Paleta de cores */

    --cor-branco: white;
    --cor-alert: #C95068;

    --cor-principal: #333840;
    --cor-secundaria: #635EF2;

     --cor-titulo: #414059;
    --cor-input-hover: #2d2d47;
}

.header{
    height: 7vh;
    width: 100%;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: var(--cor-branco)
}
.header .esquerda{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}
.header .esquerda i{
    cursor: pointer;
}
.header .esquerda i:hover{
    color: var(--cor-secundaria)
}
.header .direita{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}