:root {
    /* Paleta de cores */
    --cor-login-direita: #635EF2;
    --cor-padrao: white;
    --cor-titulo: #414059;
    --cor-input-hover: #2d2d47;
    --cor-msg: #C95068;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/fundo.jpg);
}

.login {
    margin-top: 20vh;
    margin-left: 25%;
    width: 50%;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    display: flex;
}

.esquerda {
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-padrao);
    color: var(--cor-titulo);
    border-radius: 15px 0 0 15px;
}

.direita {
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-login-direita);
    border-radius: 0 15px 15px 0;
}
form {
    animation: zoom 0.8s ease-in;
}

img {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    animation: flutuar 5s ease-in-out infinite;
}

.bloco {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    font-size: 25px;
    color: var(--cor-padrao);
}

input[type="email"],
input[type="password"] {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}

input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-titulo);
    color: var(--cor-padrao);
    cursor: pointer;
     transition: transform 0.3s ease, background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--cor-input-hover);
    transform: scale(1.05);
}
i{
    transition: transform 1.5s ease;
}
i:hover{
    transform: rotate(360deg);
}
h4{
    text-align: center;
    background-color: var(--cor-msg);
    color: var(--cor-padrao);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    animation: piscar 1s infinite;
}
@keyframes flutuar{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
@keyframes zoom {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes piscar {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
